<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="OracleDB" connectionString="Data Source=172.20.1.25:1521/ptsdev; User Id = pts_ap; Password =pts_ap;" />
		<!--<add name="OracleDB" connectionString="Data Source=172.16.31.82:1521/gzdev; User Id = pts_ap; Password =pts_ap;"/>-->
		<!--<add name="OracleDB" connectionString="Data Source=172.16.31.82:1521/XMDEV; User Id = pts_ap; Password =pts_ap;"/>-->
		<add name="SQLServerDB" connectionString="Data Source=172.20.1.34;Initial Catalog=JR_DB;User ID=usrDP_R;Password=73xTF61Gu2" />
		<add name="MySQLDB" connectionString="Data Source=localhost;Initial Catalog=World;User ID=root;Password=zzq1234" />
		<add name="TransferSrcDB" connectionString="Data Source=172.20.1.25:1521/ptsdev; User Id = pts_ap; Password =pts_ap;"/>
		<add name="TransferDesDB" connectionString="Data Source=172.16.31.82:1521/FQDEV; User Id = pts_ap; Password = pts_ap;"/>
	</connectionStrings>
	<appSettings>
		<add key="ORACLE_VERSION" value="11.2.0.1.0" />
		<add key="NameSpace" value="TPV.PTS.Model" />
		<add key="SaveDefaultPath" value="E:\PanelTracking\需求文档\Hub\数据库设计"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>