<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="OracleDB" connectionString="Data Source=172.20.1.25:1521/ptsdev; User Id = pts_ap; Password =pts_ap;"/>
		<add name="SQLServerDB" connectionString=""/>
	</connectionStrings>
</configuration>